###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

config APP_BLINK_LED_DELAY
  int "Blink led delay (Milliseconds)"
  default 500
  range 0 10000

###############################################################################