build
.settings
.cproject
.project
.config.old

scripts/include
scripts/basic/fixdep
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/mconf-bin
scripts/kconfig/mconf-cflags
scripts/kconfig/mconf-libs
scripts/kconfig/nconf
scripts/kconfig/qconf
scripts/kconfig/gconf

*.o
*.cmd
*.tmp
*.moc
*conf-cfg
lexer.lex.c
parser.tab.*