###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

source "components/freertos-10.0.1/Kconfig"

###############################################################################