###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

menu "FreeRTOS"

  config FREERTOS_TICK_RATE_HZ
    int "Tick rate (Hz)"
    default 1000
    range 1 1000

endmenu

###############################################################################